@import 'tailwindcss';

@layer base {
  html {
    font-family: 'Pretendard Variable', system-ui, sans-serif;
  }
  button {
    cursor: pointer;
  }
}

@theme {
  /* Fonts */
  --font-hanuman: var(--font-hanuman);

  /* Main Colors */
  --color-write-main: #008060;
  --color-write-green-50: #e8fcf1;
  --color-write-success: #58a56c;
  --color-write-error: #dc2626;
  --color-write-sub-title: #52b995;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .comp-primary {
    @apply bg-write-main text-white;
  }

  .comp-primary-inverted {
    @apply border-write-main text-write-main bg-white;
  }

  .comp-secondary {
    @apply bg-write-main text-white;
  }

  .comp-secondary-inverted {
    @apply border-write-green-50 bg-white text-black;
  }
}

/* TextEditor */
.ProseMirror {
  padding: 0.5rem;
  outline: none;
  white-space: pre-wrap;
  cursor: text;
}

.ProseMirror:after {
  content: '';
  display: block;
  height: 0;
}

.rendered-html p:empty::after {
  content: '\A';
  white-space: pre;
  display: block;
}

blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  color: #666;
}
